* {
    padding: 15px;
    margin:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
    font-weight:1000;
}


header>figure{
    float: left;
    
}

header>nav{
    float: right;
}


header{
    margin: 10px 0px 10px 20px;
    height:50px;
    background-size: cover;
}

.funçoes{
    background-color: rgb(240, 237, 237);
    
    display:inline-flex

}



body {
    background-color:  rgb(216, 47, 47);
    width:100%;
    text-align: center;
}


.divulgacao {
    text-align: center ;
    padding: 20px;
    background-color: rgb(240, 237, 237);
    
}


.ceo {
    background-color:  white;
    text-align: center;
    
}

.newslatter>input {
    background-color:  rgb(240, 237, 237);
    align-items: center;
}


.newslatter>button:hover{

    background-color:  white;   

}
    


.contato {
    background-color:  white;
    text-align:center;
    
}


.divulgacao>figure>image {
    display: inline-block;

}

a{
    color:rgb(74, 17, 206);
    width:50%;
    font-weight: 1000;
}

.dados {
    background-color: white;
    display: flex;
    width: 100%;
    bo
    
}
