* {
    padding: 20px;
    margin: 15px;
}

nav{
    text-align:right;
}
#logo {
    float:left;
    margin: 0px;
    padding: 0px;
    align-items: start;
}
#logo2 {
    display: flex;
    width: 40%;
}

header{
    background-color: rgb(249, 253, 253);
    background-size: cover;
    float: right;
}

body {
    background-color: rgb(235, 91, 91);
}


.divulgacao {
    text-align: left ;
    padding: 20px;
    background-color: white;
}

.ceo {
    background-color: white;
}

.depoimentos {
    background-color: white;
}

.endereco {
    background-color: white;
}
.newslatter {
    background-color: white;
    
}

.newslatter>input {
    background-color: antiquewhite;
}

.newslatter>button:hover{
    background-color: rgb(206, 203, 199);
    
}

.contato {
    background-color: white;
}

.divulgacao>figure>image {
    display: inline-block;
}

